{% extends 'partials/base.html'%}
{% load static %}
{% block title %}Items{% endblock %}
{% block description %}items list{% endblock %}

{% block content %}

<!-- csrf -->

<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<!-- top bar -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Items List</h1>
    <form class="d-flex" role="search">
        <input class="form-control" id="searchfield" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-sm btn-outline-secondary custom-btn" type="submit">Reset</button> -->
    </form>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <!-- <a href="" class="btn btn-sm btn-outline-primary"><i class="bi bi-upload"></i> Upload</a> -->
            <a href="{% url 'add-item' %}" class="btn btn-sm btn-outline-success"><i class="bi bi-plus-lg"></i> Create&nbsp;</a>
        </div>
    </div>
</div>

<!-- messages -->
{% include 'partials/messages.html'%}

<!-- Table data view -->
<div class="card shadow-sm border-0 p-3 pb-0 mt-1">
    <div class="table-responsive app-table">
        {% if items %}
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}

                <tr class="align-middle">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.description}}
                    </td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>
                        ₹{{item.price}}
                    </td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="{% url 'edit-item' item.pk %}" type="button" class="btn btn-warning btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form id="delete-form-{{ item.pk }}" action="{% url 'delete-item' item.pk %}"
                                method="post" class="position-relative">
                                {% csrf_token %}
                                <button type="button" data-id="{{ item.pk }}" onclick="confirmDeletion(this)"
                                    class="btn btn-danger btn-small"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="table-output" style="display: none;">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody id="search-results">
            </tbody>
        </table>
    </div>
</div>

<!-- pagination -->
<div class="page">
    {% include 'partials/pagination.html'%}
</div>

<!-- delete confirmation -->
<script>
    function confirmDeletion(button) {
        const itemId = button.getAttribute('data-id');
        if (confirm("Are you sure you want to delete this item?")) {
            document.getElementById('delete-form-' + itemId).submit();
        }
    }


    function confirmDeletion2(button) {
        const itemID = button.getAttribute('data-id');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        if (confirm("Are you sure you want to delete this item?")) {
            fetch(`/items/delete/${itemID}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                    'X-Requested-With': 'XMLHttpRequest',
                },
                body: JSON.stringify({ id: itemID })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Something went wrong');
                    }
                })
                .then(data => {
                    console.log(data);
                    if (data.status === 'success') {
                        window.location.reload();
                        // Remove the item from the DOM
                        // const itemElement = button.closest('tr');
                        // console.log(itemElement); // Check if the correct element is being selected
                        // if (itemElement) {
                        //     itemElement.remove();
                        // } else {
                        //     console.error('No element found to remove');
                        // }
                    } else {
                        // Handle failure
                        console.error('Deletion was not successful');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }

</script>

<!-- search -->
<script>
    const searchfield = document.querySelector("#searchfield");
    const tableoutput = document.querySelector(".table-output");
    const apptable = document.querySelector(".app-table");
    const page = document.querySelector(".page");
    const searchResults = document.querySelector("#search-results");

    searchfield.addEventListener("keyup", (e) => {
        const searchValue = e.target.value;

        if (searchValue.length > 0) {
            fetch("{% url 'search-item' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: JSON.stringify({ searchText: searchValue }),
            })
                .then((res) => res.json())
                .then((data) => {
                    apptable.style.display = "none";
                    page.style.display = "none";
                    tableoutput.style.display = "block";
                    searchResults.innerHTML = "";

                    if (data.length === 0) {
                        searchResults.innerHTML = "<tr><td colspan='6'>No result found</td></tr>";
                    } else {
                        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                        data.forEach((item) => {
                            searchResults.innerHTML += `
                        <tr class="align-middle">
                            <td>${item.name}</td>
                            <td>${item.description}</td>
                            <td>${item.quantity}</td>
                            <td>₹${item.price}</td>
                            <td class="text-end">
                                <div class="d-flex flex-row justify-content-end gap-2">
                                    <a href="/items/edit/${item.id}" type="button" class="btn btn-warning btn-small">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <form id="delete-form-${item.id}" action="/items/delete/${item.id}/" method="post" class="position-relative">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <button type="button" data-id="${item.id}" onclick="confirmDeletion2(this)" class="btn btn-danger btn-small"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>`;
                        });
                    }
                });
        } else {
            tableoutput.style.display = "none";
            apptable.style.display = "block";
            page.style.display = "block";
        }
    });

</script>

<!-- style -->
<style>
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
</style>


{% endblock content %}